:root {
    --bg-1: #030712;
    --bg-2: #07111f;
    --text-main: #eef8ff;
}

/* reset */
* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(180deg, var(--bg-2), var(--bg-1));
    color: var(--text-main);
}

